.calculator{
    padding-top: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    height: 500px;
    border-radius: 10%;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}
.calculator-form{
    display: flex;
    flex-direction: column;
}
input{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 268px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 30px;
    padding-left: 24px;
    font-size: 16px;
    outline:none;
}
input:last-child{
    margin-bottom: 0px;
}
h1{
    display: flex;
    margin: 0;
    margin-bottom: 20px;
    justify-content: center;
}
.calculator__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
button{
    width: 160px;
    height: 45px;
    background-color: #3236EE;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    outline:none;
    cursor: pointer;
    border: 1px solid #094047;
}